*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f5f8;
    color: #222;
}
.bookList{
    width: 90vw;
    max-width: 1170px;
    display: grid;
    margin: 5rem auto;
    gap: 2rem;
}
.book{
    background:#fff;
    border-radius:1rem;
    text-align: center;
    padding: 2rem;
    position: relative;
}
.book img{
    width: 100%;
    object-fit: cover;
}
.book h2{
    margin-top: 1rem;
    font-size: 1rem;
}
@media screen and (min-width:768px){
    .bookList{
        grid-template-columns: repeat(3,1fr);
        /* align-items:start; */
    }
}
.book h4 {
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
}
.book p{
    margin-top: 1rem 0 0.5rem;
}
.number{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    padding: 0.75rem;
    border-bottom-right-radius:1rem;
    border-top-left-radius:1rem;
    background:#c35600;
    color:white !important;
}